services:
  logstash:
    build: .
    image: mysql_logs_extractor
    container_name: mysql_logs_extractor
    env_file:
        - .env
    volumes:
        - ${HOST_MYSQL_LOG_DIR}:/logs:ro
        - ./pipeline:/usr/share/logstash/pipeline:ro
        - ./config/pipelines.yml:/usr/share/logstash/config/pipelines.yml:ro
        - ./config/servers.yml:/usr/share/logstash/extra/servers.yml:ro
        - ./sincedb:/usr/share/logstash/sincedb
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1g    
        reservations:
          cpus: '0.25'
          memory: 256m  
    restart: unless-stopped
